.calendar {
  background-color: #ff9933;
  /* border: 1px solid #cccccc; */
    /* border-radius: 16px; */
    padding: 1rem;
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
  text-align: center;
  font: 15px/1em inherit;
  height: 410px;
  color: #fff; }
  .calendar a {
    text-decoration: none;
    color: inherit; }
  .calendar header .btn {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 10px;
    color: #fff;
    background-color: #ff9933;
    /* border-radius: 50%; */
    border: 2px solid #fff; }
  .calendar header .btn:hover {
    background: #CBD1D2;
    color: white; }
  .calendar header .btn-prev {
    left: 28px;
    top: 12px; }
  .calendar header .btn-next {
    right: 28px;
    top: 12px; }
  .calendar header .month {
    color: #fff;
    padding: 0;
    margin: 0; }
  .calendar table {
    height: 350px;
    width: 100%;
    margin: 5px 0;
    border-spacing: 0px; }
  .calendar thead {
    font-size: 1.2em;
    font-weight: 600; }
  .calendar td {
    padding: .1em .1em; }
  .calendar .day {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 1.9em;
    border-radius: 50%;
    border: 2px solid transparent; }
  .calendar .day:hover {
    border: 2px solid #6691CC; }
  .calendar .day.today {
    background: #ba6006;
    color: white; }
  .calendar .day.event {
    color: rgb(26, 26, 26);
    /* border: 2px solid #f77721;  */
    border: 2px solid #fff41d;
    background-color: #fff41d;
  }
  .calendar .day.event:hover {
    color: rgb(22, 23, 24);
    border: 2px solid #ffab2e; }
  .calendar .day.wrong-month {
    color: #CBD1D2; }
  .calendar .day.wrong-month:hover {
    border: 2px solid transparent; }
  .calendar .event-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: #545A5C; }
  .calendar .filler {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #545A5C;
    transform: translate(-50%, -50%); }

    /* Event Close button - ref : https://codepen.io/brissmyr/pen/egidw */
    .event-container>p{
      margin-top: 35%;
      font-size: 1.2rem;
    }
    .event-container>.close {
      position: absolute;
      right: 32px;
      top: 32px;
      width: 32px;
      height: 32px;
      opacity: 0.3;
    }
    .event-container>.close:hover {
      opacity: 1;
    }
    .event-container>.close:before, .event-container>.close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: rgb(235, 235, 235);
    }
    .event-container>.close:before {
      transform: rotate(45deg);
    }
    .event-container>.close:after {
      transform: rotate(-45deg);
    }